.row {
  max-width: $grid-width;
  //background-color: #eee;
  margin: 0 auto;
  margin-bottom: $gutter-vertical;

  &:not(:last-child) {
   margin-bottom: 0;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  @include clearfix;

  //^ meaning it selects all the class starts col-
  //another ie. [class$="col-"] - end with col
  // [] - selects attribute ie.[src]
  [class^="col-"]{
    //background-color: orangered;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
      margin-bottom: $gutter-vertical-small;

      @include respond(tab-port) {
        margin-right: 0;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    // 100% devide 3 colums - 2 gutter space
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    // 2 x col-1-of-3 + 1 gutter space (because col-2-of-3 doesn't have 1 gutter space)
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
    // 2 x col-1-of-4 + 1 gutter space
  }

  .col-3-of-4 {
    width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + (2 *#{$gutter-horizontal}));
    // 3 x col-1-of-4 + 2 gutter space
  }

} // the end of .row

//$:not(:last-child) - does the opposite
