.card {
  //define the perspective (3D), perspective has to be in parent element and Child elements get the perspective (3D) view
  perspective: 150rem;
  -moz-perspective: 150rem; //now works for firefox too
  position: relative;
    height: 50rem; // need to set hight. when we use "absolute for childern, height disappear. It is simlart to "float" but we can't use clearfix here


  &__side {
    color: #fff;
    font-size: 2rem;
    height: 50rem;
    transition: all .8s ease;
    position: absolute; //both side and back are absolute
    top: 0;
    left: 0;
    width: 100%; //absolute position basically start fitting their width so we need to set width
    backface-visibility: hidden; // hide the back part of the element. when we flip, we can not see the other part
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg); //at the beginning back is already flipped

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }


    }
  }

  &:hover &__side--front {
    //when cover hovers, card_-side transforms
    transform: rotateY(180deg); //flip the card
  }
  &:hover &__side--back {
    transform: rotateY(0); //back side starts from 180deg and finish 0 = flip
  }
}
