// Basic definition of our entire project

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1rem is
  font-size: 62.5%;
  /* root font: 10px, calculation browser font size 16px = 100%, 10/16*100 = 62.5% */
}

body {
  box-sizing: border-box;
}
