//this is landing page so we write at home.scss
.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh; // header 95vh - 75vh = 20, use minus margin so you can fill the space(set in polygon) between header and main
}
